*.iml
.gradle
/local.properties
/.idea
.DS_Store
**/build
/captures
.externalNativeBuild
.cxx
local.properties

# Firebase — obsahuje ID projektu, není potřeba (a nechceme) verzovat
app/google-services.json
